body {
  /*background-color:  #ffd5cd;*/
  /*background-image: linear-gradient(#ffd5cd, white);*/

}

.jumbotron {
  background-color: #ffd5cd;
  font-family: 'Satisfy', cursive;
}
.name{
  font-size: 8em!important;
}
.welcome {
  font-size: 3em!important;
}

.intro {
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2em;
  margin-bottom: 2.5em;
}

.container-fluid {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.project1, .project3, .project5 {
  background-color: #efbbcf;
}

.project2, .project4 {
  background-color: #c3aed6;
}

.row {
  margin: 1em;
  padding: 2em;
  border-radius: 1rem;
}



p {
  font-size: 1.5em;
}

h2 {
  font-size: 2em!important;
}

li {
  font-size: 1.5em;
}

iframe {
  height: 600;
  width: 100%;

  margin-top: 2rem;
}

/* PICTURES AND VIDEOS */
.img-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 1rem;
}



.img-duck {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-gamestore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-viafit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.video-swedish {
  padding-top: 10px;
}

iframe  {
  width: 100%;
  height: 50rem;
}
/* MEDIA QUERY */



@media (max-width: 992px) {
  .name{
    font-size: 5em!important;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .welcome {
    font-size: 2em!important;
  }
  .img-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .name{
    font-size: 5em!important;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .welcome {
    font-size: 2em!important;
  }
  .img-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .col-md-6 {
    text-align:center;
  }
}
@media (max-width: 360px) {
  .name{
    font-size: 4em!important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .welcome {
    font-size: 1.5em!important;
  }
  .img-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .col-md-6 {
    text-align:center;
  }
}
